[submodule "CMakeRC"]
	path = libs/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "Lua"]
	path = libs/lua
	url = https://github.com/lua/lua.git
[submodule "GLFW"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "ImGui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "JSON"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git