[submodule "CMakeRC"]
	path = libs/cmrc
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "Lua"]
	path = libs/lua
	url = https://github.com/lua/lua.git
[submodule "GLFW"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "GLM"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "FreeType"]
	path = libs/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "JSON"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "curl"]
	path = libs/curl
	url = https://github.com/curl/curl.git