#titlebar #controls {
    -fx-alignment: center;
    -fx-padding: 0 10px 0 10px;
    -fx-spacing: 5px;
}
#titlebar #controls .button {
    -fx-background-radius: 100%;
    -fx-background-insets: 0;
}
/*
#titlebar,
#files, #files .tree-cell,
#editor .tab-header-background {
    -fx-background-color: transparent;
}
*/