.label {
    -fx-text-fill: white;
}
#root {
    -fx-background-color: black;
}
#files .tree-cell {
    -fx-text-fill: gray;
}
#files .tree-cell:focused {
    -fx-text-fill: white;
    -fx-background-color: gray;
}