<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kanai Editor</title>
    <meta name="description" content="A cross-platform code editor.">
    <meta name="keywords" content="cross-platform, code-editor">
    <meta name="author" content="PryosCode">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>