doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A lightweight cross-platform code editor.")
    meta(name="keywords" content="lightweight, cross-platform, code-editor")
    meta(name="author" content="PryosCode")
    title Kanai Editor

  body
    div(id="app")