html, body, #root {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
#root {
  display: flex;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#files {
  width: 250px;
  height: 100%;
  color: white;
  background: black;
}
#files ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#files li {
  transition: background 250ms;
}
#files li:hover {
  background: darkgray;
  cursor: pointer;
}

.editor {
  width: 100%;
  min-height: 100%;
  color: white;
  background: darkgray;
}